<%= form_for(@incomingemails , :remote => true) do |f| %>

  <h2> Post A New Byte </h2>   
  <div class="field">
    <%= f.label :place, "Location Detail" %>
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit "Post byte" %>
  </div>
<% end %>