// Place all the styles related to the offering controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view_offerings_table{
	width: 100%;
	height: 100%;
}
.view_offerings_table td, th{
	width: 33%;
	line-height: 40px;
	text-align: left;
	border-bottom: solid  #C0C0C0   1px;
	font-size: 12pt;
}

.view_offerings_table th{
	font-weight: bold;
}

.submit_byte{
	right: 0px;
}

#tabOptions li{
	font-size: 16pt;
}

#header{
	font-weight: bold;
	font-size: 18pt;
}