<span style="display:inline;">
  <span style="display:inline;">
    <span id="flash">
      <% flash.each do |name, msg| -%>
          <%= content_tag :span, msg, class: name %>
      <% end %>
    </span>
  </span>
</span>