<!DOCTYPE html>
    <title>
      Byte Map
    </title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en" rel="stylesheet">
    <link href="http://www.google.com/drive/css/default.css" rel="stylesheet">
  </head>
  <body>

    <div class="maia-stage" aria-hidden="false">  
      <div id="carousel">
        <div class="slide" style="opacity: 1; background-image:url('bytemap.png');">
          <div class="hero-unit">
          <h2 Style= "text-align:center;margin-bottom:0px;padding-left:40px;">Feeding MIT, one Byte at a time</h2>
            <h1 Style= "text-align:center;font-style:italic;margin-top:0px;padding-left:40px">Bytemap aims to connect users with on-campus<br> food offerings in an easy to digest, intuitive way.</h1>
          </div>
        </div>
      </div>
    </div>


    <div id="maia-main" role="main" aria-hidden="false">
      <div class="maia-cols">
        <div class="maia-col-6 feature-alternate-position">
          <img alt="" src="./tempmap.png">
        </div>
        <div class="maia-col-6 feature-description text-on-left">
          <h3>
            Browse the map for bytes near you
          </h3>
          <p>Our easy to use map interface allows you to search anywhere on MIT's campus and alerts you to current bytes with dropped pins. You can click on a pin to view all offerings at that location, or if you're in a hurry, view all current offerings using our newsfeed. Just don't forget to click "all gone" if you took the last byte!</p>
        </div>
      </div>



      <div class="maia-cols">
        <div class="maia-col-6">
          <img alt="" src="./food.png">
        </div>



        <div class="maia-col-6 feature-description">
          <h3>
            Leftover Food? Post a byte of your own
          </h3>
          <p>
            Create an account to post to our site and attract hungry MIT students to take those leftovers off your hands. We're also listening to MIT's free food mailing list, free-food@mit.edu, so send out an email and we'll take care of making it into a Byte!
          </p>
        </div>
      </div>



      <div class="maia-cols">
        <div class="maia-col-6 feature-alternate-position">
          <img alt="" src="./tempmap.png">
        </div>
        <div class="maia-col-6 feature-description text-on-left">
          <h3>
            Get Notified
          </h3>
          <p>Subscribe to the buildings you visit most often to receive text notifications when a new Byte has been posted. Never miss out on free food near you again!</p>
        </div>
      </div>


      <div class="maia-cols">
        <div class="maia-col-6">
          <img alt="" src="./nofood.png">
        </div>
        <div class="maia-col-6 feature-description">
          <h3>
            Never Leave Disappointed
          </h3>
          <p>We clear out old Bytes periodically and leverage the Bytemap community to crowdsource Byte availability, so you'll never get to a Byte only to find that someon else took that last slice of pizza.</p>    
        </div>
      </div>
    </div>
